body {
  font-family: 'Raleway',
  src: local('Raleway Regular'), url('fonts/Raleway/Raleway-Regular.ttf')
}

.footer__content {
  font-size: 10px;
}

.post {
  font-size: 0.9em
}

img.circle {
  max-width: 20%;
}